include README.md
include LICENSE.md
include pyproject.toml
include setup.py

# Include NMODL sources only; mechanisms are compiled at build/install time
recursive-include myogen/simulator/nmodl_files *.mod

# Include Cython files
recursive-include myogen *.pyx
recursive-include myogen *.pxd

# Include YAML configuration files
recursive-include myogen *.yaml

# Include CSV data files
recursive-include myogen *.csv
